[submodule "docs/-f"]
	path = docs/-f
	url = https://github.com/Microsoft/BuildTourHack.git
[submodule "docs/BuildTourHack"]
	path = docs/BuildTourHack
	url = https://github.com/Microsoft/BuildTourHack.git
